* {
  font-family: Arial, Helvetica, sans-serif;
  .header {
    background-color: #1eff29;
    color: black;
    text-align: center;
  }

  .header h1 {
    font-size: 48px;
  }

  .header p {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
  }
}
