* {
  font-family: Arial, sans-serif;
  text-align: center;

  .title {
    color: #1e90ff;
    text-transform: capitalize;
  }

  .doctor {
    margin-bottom: 20px;
  }

  .doctor:hover {
    background-color: #e6f7ff;
  }
}
